/* Universal properties */

body {
  background-color: black;
  font-family: 'Verdana';
  color: white;
  background: black;
  text-align: center;
}

/* I dont think this is working check this class later */
.cta {
    color: Aquamarine;
    font-size: 16px;
}


h1 {
  font-size: 50px;
}

h2 {
  font-size: 43px;
  font-weight: 300;
}

p {
  font-size: 21px;
  color: gray;
  display: block;
}

.copyright {
  text-align: right;
  color: gray;
}

.phone {
  display: flex;
  top: 50px;
}

<<<<<<< HEAD
/* Trying to work out this crazy Git, getting help from Joe
have rest in terminal, commited and pushed changes
need to reenter password details. */


h1 {
  font-size: 120px;
  font-style: italic;
  color: Aquamarine;
=======
/* First commit */

h1 {
  font-size: 70px;
>>>>>>> Change font size to h1 tag as test
}
